<%- include("parts/header", {title: `diff(${page.title}, ${page.event});`}) %>

<h1>diff(<a href="/wiki/<%= encodeURI(page.title) %>"><%= page.title %></a>, <%= page.event %>);</h1>
<nav>
	<a href="/edit/<%= encodeURI(page.title) %>">edit</a>
	<a href="/history/<%= encodeURI(page.title) %>">history</a>
	<a href="/back/<%= encodeURI(page.title) %>/<%= page.event %>">view</a>
	<a href="/rehash/<%= encodeURI(page.title) %>/<%= page.event %>">rehash</a>
</nav>
<div>
	<h2>title</h2>
	<% if (page.titleDiff) { %>
	<pre class="diff"><%- page.titleDiff %></pre>
	<% } else { %>
	<pre>no change</pre>
	<% } %>

	<h2>content</h2>
	<% if (page.contentDiff) { %>
	<pre class="diff"><%- page.contentDiff %></pre>
	<% } else { %>
	<pre>no change</pre>
	<% } %>
</div>

<%- include("parts/footer") %>
