<%- include("parts/header", {title: page.title}) %>

<h1><%= page.title %></h1>
<nav>
	<a href="/edit/<%= encodeURI(page.title) %>">edit</a>
	<a href="/history/<%= encodeURI(page.title) %>">history</a>
</nav>
<p>page does not exist! <a href="/edit/<%= encodeURI(page.title) %>">create</a></p>

<%- include("parts/footer") %>
